
module.exports = {
    admins: {
        "nickname": "plaintextpassword"
    },

    irc: {
        channels: ["#ircpg"],
        server: "server.irc.com",
        port: 9999,
        userName: "ircpg",
        realName: "Dungeon Master",
        nick: "DM",
    }

    database: {
        "name": "ircpg"
    }
}    
